body {
  font-family: "Anton", sans-serif;
}
h1 {
  font-size: 20px;
  text-align: center;
}

#to-index {
  font-style: italic;
}

h2,
h3 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.folder-photo {
  font-size: 1.05em;
}

.online-photo {
  font-size: 1.365em;
}
