body {
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  font-size: 22px;
}

h2 {
  text-align: center;
}

#to-index {
  font-style: italic;
}

#my-ul > li:nth-child(odd) {
  background: #808080;
}

#my-ul > li:nth-child(even) {
  background: #ffffff;
}

#my-ol li:nth-child(3):hover,
#my-ol li:nth-child(5):hover {
  cursor: pointer;
}

#my-ol > li:nth-child(4) {
  background: #c3c3ff;
}
