h1 {
  text-align: center;
  font-size: 24px;
}

p {
  font-size: 1.2em;
}

a:nth-of-type(1) {
  color: #773131;
}

a:nth-of-type(2) {
  color: #ff00df;
}

a:nth-of-type(3) {
  color: #36ff00;
}

a:nth-of-type(4) {
  color: #ffbd00;
}

a:nth-of-type(1):visited {
  color: #c83f3f;
}

a:nth-of-type(2):visited {
  color: #860978;
}

a:nth-of-type(3):visited {
  color: #0b640c;
}

a:nth-of-type(4):visited {
  color: #6e3f04;
}
 